.custom-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 4px;
  outline: none;

  background-color: #e9edf5;

  background-image:
    linear-gradient(to right, #a3b4d1 0, #a3b4d1 3px, transparent 3px),
    linear-gradient(
      to right,
      transparent calc(100% - 3px),
      #a3b4d1 calc(100% - 3px),
      #a3b4d1 100%
    );

  background-size:
    10% 100%,
    100% 100%;

  background-repeat: repeat-x, no-repeat;
}
